{% extends "basic.html" %}
{% block title %}Home_Page{% endblock title %}
{% block body %}
{% csrf_token %}
<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="img1.jpg" alt="Sample photo" class="img-fluid"
                                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <h4 class="mb-5 text-uppercase"> Schedule Your Meeting </h4>
                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example90" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example90">Name</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example90" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example90">Mail</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="datetime-local" id="form3Example90"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example90"> time </label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example97" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example97"> Note </label>
                                </div>

                                <button type="submit" onclick="location.href='/link.html'"
                                    class="btn btn-warning btn-lg ms-2"> Generate Link
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock body %}