{% extends "basic.html" %}
{% block title %}Meetings_page{% endblock title %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Sr. NO.</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Time</th>
            <th scope="col">Note</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2"> </td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            
            <td colspan="3"> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
    </tbody>
</table>
{% endblock body %}